affine==2.4.0
altgraph==0.17.4
appdirs==1.4.4
attrs==21.4.0
aw-client==0.5.7
aw-core==0.5.7
awsebcli==3.20.9
botocore==1.31.44
CacheControl==0.12.10
cachy==0.3.0
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.10
cleo==0.8.1
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
colorama==0.4.3
contourpy==1.2.1
crashtest==0.3.1
cycler==0.12.1
deprecation==2.1.0
distlib==0.3.4
et-xmlfile==1.1.0
filelock==3.4.2
fonttools==4.53.1
html5lib==1.1
idna==3.3
iso8601==0.1.16
jmespath==1.0.1
jsonschema==3.2.0
kiwisolver==1.4.5
lockfile==0.12.2
msgpack==1.0.3
mutagen==1.45.1
numpy==2.0.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pastel==0.2.1
pathspec==0.10.1
peewee==3.14.8
pefile==2023.2.7
persist-queue==0.6.0
pillow==10.4.0
pkginfo==1.8.2
platformdirs==2.4.1
poetry-core==1.0.7
praw==7.6.0
prawcore==2.3.0
pycryptodomex==3.12.0
pylev==1.4.0
pyparsing==3.0.6
pypiwin32==223
pyrsistent==0.18.0
python-dateutil==2.8.2
python-json-logger==2.0.2
pytz==2024.1
PyYAML==6.0.1
rasterio==1.3.11
redvid==1.2.0
regex==2024.9.11
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
snuggs==1.4.7
spotipy==2.19.0
strict-rfc3339==0.7
TakeTheTime==0.3.1
termcolor==1.1.0
tiktoken==0.8.0
timeslot==0.1.2
tomlkit==0.8.0
tqdm==4.64.0
tzdata==2024.1
update-checker==0.18.0
urllib3==1.26.8
virtualenv==20.13.0
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==1.4.0
websockets==10.1
youtube-dl==2021.12.17
yt-dlp==2021.12.1

setuptools~=68.2.0